---
---

<section class="h-screen flex justify-center flex-col gap-4">
  <div class="place-self-center">
    <h1 class="text-6xl font-semibold text-center">Lars Volkheimer</h1>
  </div>
  <div class="w-24 place-self-center border-2 rounded h-0.5"></div>
  <div class="place-self-center">
    <a href="https://github.com/laesse" target="_blank">
      <img class="h-12" src="./github-mark-white.svg" />
    </a>
  </div>
</section>
